[submodule "HamEngine/lib/imgui/imgui"]
	path = HamEngine/lib/imgui/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "HamEngine/lib/glm"]
	path = HamEngine/lib/glm
	url = https://github.com/g-truc/glm
[submodule "HamEngine/lib/glfw"]
	path = HamEngine/lib/glfw
	url = https://github.com/glfw/glfw
[submodule "HamEngine/lib/spdlog"]
	path = HamEngine/lib/spdlog
	url = https://github.com/gabime/spdlog
[submodule "HamEngine/lib/ImGuizmo/ImGuizmo"]
	path = HamEngine/lib/ImGuizmo/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "HamEngine/lib/optick/optick"]
	path = HamEngine/lib/optick
	url = https://github.com/bombomby/optick
[submodule "HamEngine/lib/entt"]
	path = HamEngine/lib/entt
	url = https://github.com/skypjack/entt
[submodule "HamEngine/lib/stduuid"]
	path = HamEngine/lib/stduuid
	url = https://github.com/mariusbancila/stduuid
[submodule "HamEngine/lib/filewatch"]
	path = HamEngine/lib/filewatch
	url = https://github.com/ThomasMonkman/filewatch
